<ul
  class="dropdown-menu dropdown-menu-center table-hover scrollable-menu"
  role="menu"
>
  <table class="table table-bordered table-striped small th-center">
    <thead>
      <tr>
        <th>提出日時</th>
        <th>問題</th>
        <th>ユーザ</th>
        <th>言語</th>
        <th>得点</th>
        <th>コード長</th>
        <th>結果</th>
        <th>実行時間</th>
        <!-- <th width="8%">メモリ</th> -->
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr>
        <td class="no-break">
          <time class="fixtime-second">2023-12-31 10:03:23</time>
        </td>
        <td>
          <a href="/contests/abs/tasks/practice_1"
            >PracticeA - Welcome to AtCoder</a
          >
        </td>
        <td>
          <a href="/users/hotarupoyo">hotarupoyo</a>
        </td>
        <td>C++ 23 (gcc 12.2)</td>
        <td class="text-right submission-score" data-id="48945571">100</td>
        <td class="text-right">180 Byte</td>
        <td class="text-center">
          <span
            class="label label-success"
            data-toggle="tooltip"
            data-placement="top"
            title=""
            data-original-title="正解"
            >AC</span
          >
        </td>
        <td class="text-right">1 ms</td>
        <td class="text-right">3576 KB</td>
        <td class="text-center">
          <a href="/contests/abs/submissions/48945571">詳細</a>
        </td>
      </tr> -->
    </tbody>
  </table>
</ul>
